*-cache.lib
*.bak
*.kicad_pcb-bak

# Netlists
*.net

# Gerber formats
*.gbl
*.gbs
*.gbp
*.gbo
*.gm1
*.gtl
*.gts
*.gtp
*.gto
*.drl

# Position files
*.pos

# zip files
*.zip

bin/
build-teensy31

_autosave*

obj/
